{"experiments":{},"name":"HillelAuto","slug":"HillelAuto","version":"1.1.2","icon":"./assets/icon.png","userInterfaceStyle":"automatic","splash":{"image":"./assets/splash.png","resizeMode":"cover","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.hillelAuto","buildNumber":"1.1.2","infoPlist":{"NSPhotoLibraryUsageDescription":"We need access to your photo library to allow you to select a photo and set it as your profile avatar."}},"android":{"permissions":["CAMERA","READ_EXTERNAL_STORAGE","WRITE_EXTERNAL_STORAGE"],"adaptiveIcon":{"foregroundImage":"./assets/icon.png","backgroundColor":"#ffffff"},"package":"com.hillelAuto"},"web":{"favicon":"./assets/icon.png"},"extra":{"eas":{"projectId":"ba909b16-4ca7-4f7e-bace-76879ce5385d"}},"runtimeVersion":"1.1.2","updates":{"url":"https://u.expo.dev/ba909b16-4ca7-4f7e-bace-76879ce5385d"},"plugins":["expo-build-properties"],"sdkVersion":"50.0.0","platforms":["ios","android","web"]}